h1{
	margin-top: 200px;
	text-align: center;
}

.boton{
	margin-top: 300px;
	margin-left: 40%;
    color: white;
    background-color: rgb(52,141,200);
    border-color: rgb(52,141,200);
    border-radius: 10px;
    padding:10px;
    height:35px;
    width: 20%;
}