html{
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
}
main{
	text-align: center;
	margin-top: 50px;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	border-color: rgb(215,225,215);
	margin-left: 600px;
	margin-right: 600px;
	background-color: rgb(215,215,215);
	padding: 20px;
	
}

.field{
	margin: 20px 0;
}
.boton{
    color: white;
    background-color: rgb(52,141,200);
    border-color: rgb(52,141,200);
    border-radius: 10px;
    padding:10px;
    height:35px;
    width: 100%
}
.boton2{
	margin-left: 40%;
    color: white;
    background-color: rgb(52,141,200);
    border-color: rgb(52,141,200);
    border-radius: 10px;
    padding:10px;
    height:35px;
    width: 20%;
}